version: '3.8'

services:
  # --- Gateway ---
  traefik:
    image: traefik:v2.10
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # --- RabbitMQ ---
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
        interval: 10s
        timeout: 5s
        retries: 5

  # =========================================
  # SERVICIO: AUTH
  # =========================================
  auth_db: 
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d auth_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  auth-service:
    build: 
      context: ./services/auth-service
    volumes:
      - ./services/auth-service/app:/app/app
    environment:
      - DATABASE_URL=postgresql+asyncpg://admin:admin@auth_db:5432/auth_db
    depends_on:
      auth_db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/api/auth`)"
      - "traefik.http.services.auth.loadbalancer.server.port=8000"
      - "traefik.http.middlewares.auth-strip.stripprefix.prefixes=/api/auth"
      - "traefik.http.routers.auth.middlewares=auth-strip"

  # =========================================
  # SERVICIO: FINANCE 
  # =========================================
  finance_db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: finance_db
    ports:
      - "5433:5432" # Nota: Puerto externo 5433 para no chocar con auth_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d finance_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  finance-service:
    build:
      context: ./services/finance-service
    volumes:
      - ./services/finance-service/app:/app/app
    environment:
      - FINANCE_DATABASE_URL=postgresql+asyncpg://admin:admin@finance_db:5432/finance_db
    depends_on:
      finance_db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.finance.rule=PathPrefix(`/api/finance`)"
      - "traefik.http.services.finance.loadbalancer.server.port=8000"
      - "traefik.http.middlewares.finance-strip.stripprefix.prefixes=/api/finance"
      - "traefik.http.routers.finance.middlewares=finance-strip"

  # =========================================
  # SERVICIO: COMPLIANCE (WORKER)
  # =========================================
  compliance-worker:
    build:
      context: ./services/compliance-service
    volumes:
      - ./services/compliance-service/app:/app/app
    command: python -u app/worker.py
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F
    depends_on:
      rabbitmq:
        condition: service_healthy
    # Reiniciar automáticamente si pierde conexión con Rabbit
    restart: always