# --- CORE ---
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1

# --- BASE DE DATOS ---
sqlalchemy==2.0.30
asyncpg==0.29.0
psycopg2-binary==2.9.9

# --- MENSAJERÍA Y TAREAS ---
pika==1.3.2
APScheduler==3.10.4

# --- CONEXIONES EXTERNAS ---
requests==2.31.0
httpx==0.27.0 

# --- SEGURIDAD ---
python-jose[cryptography]==3.3.0
python-multipart==0.0.9

# --- GENERADOR PDF ---
python-multipart==0.0.9
reportlab==4.2.0